@charset "UTF-8";
/* Border styles */
#table thead, #table tr {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(137, 243, 247);
}

#table {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(137, 243, 247);
}

/* Padding and font style */
#table td, #table th {
	padding: 5px 10px;
	font-size: 12px;
	font-family: Verdana;
	color: rgb(0, 0, 0);
}

/* Alternating background colors */
#table tr:nth-child(even) {
	background: rgb(140, 255, 255)
}

#table tr:nth-child(odd) {
	background: #FFF
}