<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FileSharing</display-name>
  <servlet>
    <servlet-name>UsersLoginServlet</servlet-name>
    <servlet-class>com.servlets.UsersLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsersSignupServlet</servlet-name>
    <servlet-class>com.servlets.UsersSignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsersChangePasswordServlet</servlet-name>
    <servlet-class>com.servlets.UsersChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeeAllFileInfoServlet</servlet-name>
    <servlet-class>com.servlets.SeeAllFileInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchFileInfoServlet</servlet-name>
    <servlet-class>com.servlets.SearchFileInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.servlets.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.servlets.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectFileInfoServlet</servlet-name>
    <servlet-class>com.servlets.SelectFileInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersLoginServlet</servlet-name>
    <url-pattern>/userslogin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersSignupServlet</servlet-name>
    <url-pattern>/signup.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersChangePasswordServlet</servlet-name>
    <url-pattern>/userschangePassword.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeeAllFileInfoServlet</servlet-name>
    <url-pattern>/seeAllFileInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchFileInfoServlet</servlet-name>
    <url-pattern>/searchFileInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUpload.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/downloadfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectFileInfoServlet</servlet-name>
    <url-pattern>/SelectFileInfo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>